
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Silkscreen&display=swap');

/* *{
  padding: 0;
  margin: 0;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topNavbar{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 25px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  

}
.topNavbar-links{
  width: max-content;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px;
  
  
}
.topNavbar-links span{
  position: relative;
  margin-left: 30px;
  text-decoration: none;
  color: #58585B;
  font-size: 0.85em;
  cursor: pointer;
  font-weight: 500;
}
#signoutBtn{
  color:black;
  font-weight: 500;
}


.appHeader{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  
  
}

.projectTitle{
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;

}
#brandName{
  font-family: 'Silkscreen', cursive;
}
#brandSubName{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Caveat', cursive;
}
.selectLanguage{
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  border: 2px solid #d3dce6;
  border-radius: 2px;
  background: #f5f5f5;
  padding: 12px 10px;
  min-width: 12vw;
}
.selectLanguage label{
  font-weight: 500;

}
.selectLanguage select{
  width: 12vh;
  outline:none ;
  border:1px solid #d3dce6;
  border-radius: 2px;
}
.codeArea{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-direction: column; */
  max-height: 84vh;
  background-color: #f5f5f5;
  border: 2px solid #d3dce6;
  font-family: "euclid_circular";
  border-left: none;
  /* border-bottom: none; */
  /* flex-wrap: wrap; */
  
}
.inputArea{
  position: relative;
  width: 50%;
  /* border-bottom: 2px solid #d3dce6; */
  height: 100%;



}
.inputArea textarea{
  border: none;
  overflow: auto;
  outline: none;
  background-color: #f5f5f5;;
font-family: euclid_circular;
font-weight: 500;
font-size: 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
}

.outputArea{
  font-family: euclid_circular;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  background-color: #f5f5f5;
  width: 50%;
  height: 100%;
  border-left: 2px solid #d3dce6;
  overflow-y: scroll;

}

.header-Area{
  position: relative;
  height: 8vh;
  width: auto;
  background-color: white;
  border-bottom: 2px solid #d3dce6;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-Area-input .inputFileName{
  display: inline-flex;
  background-color: #f5f5f5;
  text-align: center;
  /* height: 5vh; */
  padding: 20px 24px;
  font-weight: 500;
  font-size: 18px;
  border-right: 2px solid #d3dce6;
  

}
.header-Area-input-buttons{
  position: relative;
  padding: 12px 20px;
  display: flex;
}
.header-Area-input-buttons select{
  margin: 0px 4px;
}
.header-Area-input-buttons .runButton{
  display: flex;
  min-width: 47px;
  min-height: 12px;
  margin: 0px 4px;
  justify-content: center;
  font-family: "euclid_circular";
  justify-content: center;
  cursor: pointer;
  padding: 3px 10px;
  background: #0556f3;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2px;
  z-index: 109;
  font-weight: bold;
  align-items: center;
}

.outputTitle{
  padding-left: 20px;
  font-size: 18px;

}

.header-Area-output-buttons{
  position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
  
}
.codeDownloadImage{
  width: 25px;
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.saveCodeImage{
  width: 20px;
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.saveCodeImage img{
  width: 20px;
  cursor: pointer;
}
.changeTheme{
  cursor: pointer;
}
.Tooltip{
  background-color: #f5f5f5;
  /* border: 2px solid #d3dce6; */
    position: absolute;
    border-radius: 5px;
    /* bottom: 130%; */
    padding: 5px 7px;
    font-size: 14px;
    visibility: hidden;
    /* transition: all .5s; */
    width: max-content;
}
.Tooltip::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: #f3f3f3 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}
.saveCodeImage:hover .Tooltip{
  position: absolute;
  z-index: 1;
  visibility: visible;
  transform: translatey(-30px);
  /* width: max-content; */
}
.codeDownloadImage:hover .Tooltip{
  visibility: visible;
  transform: translateY(-30px);
  width: max-content;
}

.outPutStatus{
  position: relative;
  font-size: 14px;
  border-radius: 2px;
  min-width: 90px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#success{
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #198754;
}
#pending{
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #ffc107;
}
#error{
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #dc3545;
}

.output-content{
  position: relative;
  margin-left: 10px;
}
.output-jobId{
  position: relative;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.482);

}
.output-submitedAt{
  position: relative;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.482);
}
.output-code{
  font-family: "consolas";
  font-size: 16px;
}

.executionTime span{
  color: black;
  font-size: 15px;
  padding: 4px;
  border-radius: 2px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 2px solid #d3dce6;

}


.registeUserContainer{
  position: absolute;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}
.registeUserForm{
  position: relative;
  width: 20%;
  height: auto;
  padding: 40px 70px;
  background-color: white;
  border:2px solid #d3dce6 ;

  border-radius: 4px;
  flex-direction: column;

}
.registeUserForm form{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
  align-items: flex-start;
 

}
.registeUserForm h3{
  font-size: 1.5em;
  margin: 10px 0px;
  font-family: 'Silkscreen', cursive;
}

.registeUserForm form input{
  width: 100%;
  margin: 10px 0px;
  height: 5vh;
  padding: 0px 5px;
  background-color: white;
  border:2px solid #d3dce6 ;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 1px;
}
.registeUserForm form input:focus{
  background-color: #e8ebef3a;
  border:2px solid #d3dce6 ;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
}
.registeUserForm form #registerSubmit{
  margin: 5px 0px;
  /* height: 50px; */
  width: 30%;
  padding: 10px 0px ;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: none;
  background: #0556f3;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
#closeRegister{
  position: absolute;
  z-index: 10000;
  top: 5%;
  right: 5%;
  width: 30px;
  cursor: pointer;
  
  margin: 10px;
}
.saveCodeContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.saveCodeMain{
  position: relative;
  width: 20%;
  height: auto;
  padding: 40px 70px;
  background-color: white;
  border:2px solid #d3dce6 ;
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  flex-direction: column;
}

.saveCodeTitle{
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Silkscreen', cursive;
}
.saveCodeMain form{

  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.saveCodeMain form label{
  margin-bottom: 5px;
  font-weight: 500;
}
.saveCodeMain form input{
  width: 100%;
  height: 4vh;
  padding: 0px 5px;
  background-color: white;
  border:2px solid #d3dce6 ;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  
}
.saveCodeMain form input:focus{
  background-color: #e8ebef3a;
  border:2px solid #d3dce6 ;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
}
.saveCodeMain form button{
  margin: 15px 0px;
  /* height: 50px; */
  width: 30%;
  padding: 10px 0px ;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: none;
  background: #0556f3;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}